@import './assets/scss/_colors';
@import './assets/scss/_main';

.c-container {
    padding: $main_standardSpace * 4 $main_standardSpace * 2 0 $main_standardSpace * 2;
    box-shadow: 0px 1px 10px darken($colors_secondary, 60%);
    margin: auto;
    max-width: $main_desktop;
    background-color: #f3f3f3;
    position: relative;
    min-height: 100vh;
}